<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-item">
                <img src="./public/images/bird.svg" alt="demo">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="footer-contact">
                <p>
                    125, Kahramon street, Yakkasaray <br> district, Tashkent city, 100022
                </p>
                <div class="contact">
                    <a href="mailto:LoremIpson@xtv.uz">LoremIpson@xtv.uz</a>
                </div>
                <div class="contact">
                    <a href="tel:+998 (71)-123-45-67">+998 (71)-123-45-67</a>
                </div>
            </div>
            <ul class="partials">
                <li><a href="#">Main</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Regulatory documents</a></li>
                <li><a href="#">Promotion procedure</a></li>
                <li><a href="#">Methodical products</a></li>
                <li><a href="#">Sample works</a></li>
                <li><a href="#">Promotional work</a></li>
            </ul>
            <ul class="partials">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Telegram</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#"> Instagram</a></li>
            </ul>
        </div>
        <hr>
        <div class="footer-copyright">
            <div class="copyright-item">
                <p>A product of</p>
                <img src="./public/images/felix.png" alt="demo">
            </div>
            <small>© 2022 Lift Media. All rights reserved</small>
        </div>
    </div>
</footer>
