<header id="header">
  <div class="container">
    <div class="content">
      <div class="logo">
        <img src="./public/images/logo.png" alt="demo">
      </div>
      <nav>
        <ul id="sidemenu">
          <li><a href="#main">Main</a></li>
          <li><a href="#methodical">Methodical products</a></li>
          <li><a href="#about">about Us</a></li>
          <li><a href="#sample">Sample works</a></li>
          <li><a href="#promotion">Promotional work</a></li>
          <i class="fas fa-times" onclick="closemenu()"></i>
        </ul>
        <i class="fas fa-bars" onclick="openmenu()"></i>
      </nav>
    </div>

  </div>
</header>