<section class="about" id="about">
    <div class="content">
        <div class="text">
            <h3 class="title">About Us</h3>
            <ul class="list">
                <li class="link">
                    <p>
                        Effective organization of the educational process in the general secondary education
                        system and advanced work practices aimed at improving the quality of education in the
                        educational process, introduction of modern pedagogical technologies and interaction
                        between the employees of the public education system exchange of experience will be
                        launched.
                    </p>
                </li>
                <li class="link">
                    <p>
                        Dissemination of advanced work practices is recommended by the applicant for effective
                        organization of the educational process, introduction of modern pedagogical
                        technologies, and advanced work methods aimed at improving the quality of education.
                    </p>
                </li>
                <li class="link">
                    <p>
                        Studying and popularizing the best work experiences of applicants is carried out through
                        the platform www.ommazharishtiya.uz.
                    </p>
                </li>
            </ul>
        </div>
        <div class="image">
            <img src="./public/images/teams.png" alt="demo">
        </div>
    </div>
</section>
