<section class="advantages">
    <div class="container">
        <div class="primary-content">
            <div class="analytic-img">
                <img src="./public/images/man.png" alt="demo">
                <img src="./public/images/graph-1.png" alt="demo" class="primary-graph">
            </div>
            <div class="text">
                <h4>We connect our customers with the best, and help them keep up-and stay open.</h4>
                <ul class="click">
                    <li class="item">
                        <img src="./public/images/check_black.png" alt="demo">
                        <p>We connect our customers with the best.</p>
                    </li>
                    <li class="item">
                        <img src="./public/images/check_black.png" alt="demo">
                        <p>Advisor success customer launch party.</p>
                    </li>
                    <li class="item">
                        <img src="./public/images/check_black.png" alt="demo">
                        <p>Business-to-consumer long tail.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="secondary-content">
            <div class="analytic-img">
                <img src="./public/images/woman.png" alt="demo">
                <img src="./public/images/graph-2.png" alt="demo" class="secondary-graph">
            </div>
            <div class="text">
                <h4>We connect our customers with the best, and help them keep up-and stay open.</h4>

                <div class="buttons">
                    <a href="#" class="item">
                        <div class="button-image">
                            <i class="fa-sharp fa-solid fa-pen"></i>
                        </div>
                        We connect our customers with the best.
                    </a>
                    <a href="#" class="item">
                        <div class="button-image">
                            <i class="far fa-eye"></i>
                        </div>
                        Advisor success customer launch party.
                    </a>
                    <a href="#" class="item">
                        <div class="button-image">
                            <i class="fa-sharp fa-solid fa-sun"></i>
                        </div>
                        Business-to-consumer long tail.
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
