<section class="methodical" id="methodical">
    <div class="container">
        <h3 class="methodical-title">Methodical products</h3>
        <div class="card">
            <div class="card-item">
                <div class="card-img">
                    <img src="./public/images/Dars ishlanma.png" alt="demo">
                </div>
                    <h3>Lesson development</h3>
                    <p>
                        It is the development of a high-level one-hour sample class or group training, based on
                        international experiences, conducted with advanced interactive methods.
                    </p>
            </div>
            <div class="card-item">
                <div class="card-img">
                 <img src="./public/images/Videodars.png" alt="demo">    
                </div>
                    <h3>Video lesson</h3>
                    <p>
                        A video of a length of up to 7 minutes and a volume of no more than 300 mb, explaining a
                        lesson presentation or a personal innovative methodical experience that illuminates
                        interactive methods in class or extracurricular activities. It doesn't matter what device
                        the video was taken on.
                    </p>
            </div>
            <div class="card-item">
                <div class="card-img">
                   <img src="./public/images/Metodik qo‘llanma.png" alt="demo">  
                </div>
                    <h3>Methodical guide</h3>
                    <p>
                        Educational methodical manuals; letter of recommendation; brochures are sent in pdf format.
                    </p>
            </div>

        </div>
    </div>
</section>
