<section class="offer">
    <div class="container">
        <div class="offer-content">
            <div class="offer-text">
                <span>What We Offer</span>
                <h3 class="offer-title">We love what we do & we do it with passion!</h3>
                <p class="offer-subtitle">
                    Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia acere aperiam sequi optio consectetur adipisicing dolor et amet.
                </p>

                <div class="offer-check">
                    <div class="offer-check-item">
                        <div class="check-img">
                            <img src="./public/images/check.svg" alt="demo">
                        </div>
                        <p>Pellen tesque libero ut justo</p>
                    </div>
                    <div class="offer-check-item">
                        <div class="check-img">
                            <img src="./public/images/check.svg" alt="demo">
                        </div>
                        <p>Lorem ipsum dolor sit amet elit</p>
                    </div>
                    <div class="offer-check-item">
                        <div class="check-img">
                            <img src="./public/images/check.svg" alt="demo">
                        </div>
                        <p>Pellen tesque libero ut justo</p>
                    </div>
                </div>
            </div>

            <div class="offer-image">
                <img src="./public/images/Rectangle 50.png" alt="demo">
            </div>
        </div>
    </div>
</section>