<section class="offer">
    <div class="container">
        <div class="content">
            <div class="text">
                <span>What We Offer</span>
                <h3 class="title">We love what we do & we do it with passion!</h3>
                <p class="subtitle">
                    Lorem ipsum dolor sit amet elit. hic odio tenetur. ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia acere aperiam sequi optio consectetur adipisicing dolor et amet.
                </p>
                <ul class="check">
                    <li class="item">
                        <img src="./public/images/check.svg" alt="demo" class="chek-img">
                        <p>Pellen tesque libero ut justo</p>
                    </li>
                    <li class="item">
                        <img src="./public/images/check.svg" alt="demo" class="chek-img">
                        <p>Lorem ipsum dolor sit amet elit</p>
                    </li>
                    <li class="item">
                        <img src="./public/images/check.svg" alt="" class="chek-img">
                        <p>Pellen tesque libero ut justo</p>
                    </li>
                </ul>
            </div>
            <img src="./public/images/tech.png" alt="demo" class="global-image">
        </div>
    </div>
</section>
