<section class="promotion" id="promotion">
    <div class="container">
        <h3 class="title">Promotion procedure</h3>
        <div class="card">
            <div class="item">
                <img src="./public/images/promotion-image-1.png" alt="demo">
                <div class="text">
                    <p>Register in our system through ERP and post your work in the system to promote it.</p>
                </div>
                <div class="number">
                    <span>1</span>
                </div>
            </div>
            <div class="item">
                <img src="./public/images/promotion-image-2.png" alt="demo">
                <div class="text">
                    <p>
                        Allow 2 months for the published work to be evaluated by other teachers who teach your
                        subject.
                    </p>
                </div>
                <div class="number">
                    <span>2</span>
                </div>
            </div>
            <div class="item">
                <img src="./public/images/promotion-image-3.png" alt="demo">
                <div class="text">
                    <p>
                        100 works from each subject with the most and the highest evaluation are evaluated by
                        experts and the system separates it in the descending order of popularity in the Republic,
                        Province, and District.
                    </p>
                </div>
                <div class="number">
                    <span>3</span>
                </div>
            </div>
            <div class="item">
                <img src="./public/images/undraw.png" alt="demo">
                <div class="text">
                    <p>
                        If your work is popular, download Certificates about the popularity of your work from your
                        personal cabinet.
                    </p>
                </div>
                <div class="number">
                    <span>4</span>
                </div>
            </div>
        </div>
    </div>
</section>