<section class="sample" id="sample">
    <div class="container">
        <h1 class="sample-title">Sample works</h1>
        <div class="sample-card">
            <div class="sample-item">
                <div class="sample-text">
                    <h3>Khalida Turakulova</h3>
                    <div class="location">
                        <img src="./public/images/location.svg" alt="demo">
                        <p>Jizzakh region Jizzakh shxtb 29 School.</p>
                    </div>
                </div>
                <div class="sample-img">
                    <img src="./public/images/Intersect-1.png" alt="demo">
                </div>
            </div>
            <div class="sample-item">
                <div class="sample-text">
                    <h3>Khalida Turakulova</h3>
                    <div class="location">
                        <img src="./public/images/location.svg" alt="demo">
                        <p>Jizzakh region Jizzakh shxtb 29 School.</p>
                    </div>
                </div>
                <div class="sample-img">
                    <img src="./public/images/Intersect-1.png" alt="demo">
                </div>
            </div>
            <div class="sample-item">
                <div class="sample-text">
                    <h3>Khalida Turakulova</h3>
                    <div class="location">
                        <img src="./public/images/location.svg" alt="demo">
                        <p>Jizzakh region Jizzakh shxtb 29 School.</p>
                    </div>
                </div>
                <div class="sample-img">
                    <img src="./public/images/Intersect-1.png" alt="demo">
                </div>
            </div>
        </div>
    </div>
</section>
