/*about*/

.about {
    background: $secondary-color;

    .content {
        display: flex;
    }

    .text {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        padding-right: 20px;
        padding-left: 40px;
    }

    .title {
        color: $primary-color;
        font-size: 32px;
        font-family: $tertiary-font;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 3.2px;
        padding-bottom: 24px;
    }

    .link {
        color: $primary-color;
        font-size: 14px;
        font-family: $tertiary-font;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.224px;
        padding-bottom: 12px;
    }

    img {
        width: 50%;
        max-height: 470px;
        object-fit: cover;
    }
}

/*adaptive*/

@media (max-width:992px) {

    .about {
        .content {
            display: block;

            .text {
                width: 100%;
                display: block;
                padding-bottom: 30px;
                padding-top: 20px;
            }

            img {
                display: flex;
                width: 100%;
                max-height: 100%;
            }
        }
    }
}

@media (max-width:768px) {

    .about {
        .title {
            font-size: 30px;
        }
    }
}

@media (max-width:320px) {
    .about {
        .about-link {
            font-size: 12px;
        }

        .about_title {
            font-size: 25px;
        }
    }
}
