/*about*/

.about {
    background: $secondary-color;
}

.about-content {
    display: flex;
}

.about-text {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-right: 58px;
}

.about-title {
    color: $primary-color;
    font-size: 32px;
    font-family: $tertiary-font;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.2px;
    padding-bottom: 24px;
}

.about-link {
    color: $primary-color;
    font-size: 14px;
    font-family: $tertiary-font;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.224px;
    padding-bottom: 12px;
}

.about-image img {
    height: 435px;
}

/*adaptive*/

@media (max-width:992px) {

    .about-content {
        display: block;
    }

    .about-text {
        width: 100%;
        display: block;
    }

    .about-image {
        margin-top: 30px;
    }

    .about-image img {
        width: 100%;
        object-fit: contain;
    }
}

@media (max-width:768px) {

    .about_title {
        font-size: 30px;
    }

    .about_text {
        padding: 0;
    }
}

@media (max-width:320px) {
    
    .about-link  {
        font-size: 12px;
    }

    .about_title {
        font-size: 25px;
    }
}