/*connect*/

.advantages {
    padding: 80px 0;
    background: $primary-color;

    .primary-content {

        .block {
            position: relative;
            display: flex;

            img {
                height: 475px;
                width: 100%;
            }

        }

        .analytic-img {
            position: absolute;
            top: 40%;
            left: 15%;

            img {
                height: 360px;
                width: 100%;
                object-fit: cover;
            }
        }

        .text {
            margin-left: 72px;

            h4 {
                color: $tertiary-color;
                font-size: 36px;
                font-family: $secondary-font;
                line-height: 150%;
                letter-spacing: 1.152px;
                font-weight: 400;
                padding-top: 136px;
                margin-bottom: 48px;
            }
        }

        .click {

            .item {
                display: flex;
                align-items: center;
                padding-bottom: 18px;

                p {
                    padding-left: 32px;
                    color: $tertiary-color;
                    font-size: 20px;
                    font-family: $primary-font;
                    line-height: 120%;
                }
            }

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    .secondary-content {

        .block {
            display: flex;
            position: relative;
            flex-direction: row-reverse;
            margin-top: 5%;

            img {
                height: 475px;
                width: 100%;
                object-fit: cover;
            }
        }

        .analytic-img {
            position: absolute;
            top: 40%;
            left: 70%;

            img {
                height: 360px;
                width: 100%;
            }
        }

        .text {
            margin-right: 72px;

            h4 {
                color: $tertiary-color;
                font-size: 36px;
                font-family: $secondary-font;
                line-height: 150%;
                letter-spacing: 1.152px;
                font-weight: 400;
                padding-top: 136px;
            }
        }

        .buttons {

            .item {
                display: flex;
                align-items: center;
                border-radius: 4px;
                background: #FFF;
                box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
                padding: 16px 32px;
                color: $tertiary-color;
                font-size: 16px;
                font-family: $primary-font;
                font-weight: 600;
                line-height: 120%;
                text-decoration: none;
                margin-top: 32px;
                width: 70%;

                &:hover {
                    background: $secondary-color;
                    color: $primary-color;
                    transition: .3s ease;
                }

                .button-image {
                    padding-right: 16px;
                }
            }
        }
    }
}

/*adaptive*/

@media (max-width:992px) {
    .advantages {

        .primary-content {

            .block {
                display: block;
                text-align: center;

            }

            img {
                width: 100%;
                object-fit: contain;
            }

            .analytic-img {

                position: absolute;
                top: 22%;
                left: 45%;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .text {
                margin-left: 0;

                h4 {
                    font-size: 30px;
                }
            }

            .item {

                p {
                    font-size: 17px;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .secondary-content {

            .block {
                display: block;
                text-align: center;

                img {
                    object-fit: contain;
                    width: 100%;
                }

                .analytic-img {
                    top: 20%;
                    left: 40%;
                }
            }


            .text {
                margin-right: 0;

                h4 {
                    font-size: 30px;
                }
            }

            .buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}

@media (max-width:576px) {
    .advantages {

        .primary-content {

            .block {

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {

                h4 {
                    font-size: 20px;
                }
            }
        }

        .secondary-content {

            .block {

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {

                h4 {
                    font-size: 20px;
                }
            }

            .item {
                width: 90%;
            }
        }
    }
}

@media (max-width:320px) {

    .advantages {

        .primary-content {

            .text {

                h4 {
                    font-size: 15px;
                }
            }

            .item {

                p {
                    font-size: 12px;
                }
            }
        }

        .secondary-content {

            .text {

                h4 {
                    font-size: 15px;
                }
            }

            .item {
                font-size: 10px;
                width: 100%;
            }
        }
    }
}
