/*analitic*/

.analitic {
    padding: 80px 0;
    background-image: url(/public/images/blur-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.analitic-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.analitic-item {
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.analitic-text span {
    color: #FFF;
    font-size: 28px;
    font-family: var($secondary-font);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
}

.analitic-text p {
    color: #FFF;
    font-size: 18px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*adaptive*/

@media (max-width:992px) {
    
}