/*connect*/

.connect {
    padding: 80px 0;
    background: #FFF;
}

.content-1 {

    .conect-block img {
    width: 470px;
    height: 475px;
    flex-shrink: 0;
}

.conect-analitic img {
    width: 251px;
    height: 360px;
    object-fit: cover;

}

.conect-block {
    position: relative;
    display: flex;
}

.conect-analitic {
    position: absolute;
    top: 40%;
    left: 15%;
}

.conect-text {
    margin-left: 72px;
}

.conect-text h4 {
    color: #1F1F1F;
    font-size: 36px;
    font-family: $secondary-font;
    line-height: 150%;
    letter-spacing: 1.152px;
    font-weight: 400;
    padding-top: 136px;
}

.click {
    margin-top: 48px;
}

.click-item {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
}

.click-img img {
    width: 32px;
    height: 32px;
}

.click-item p {
    padding-left: 32px;
    color: #1F1F1F;
    font-size: 20px;
    font-family: $primary-font;
    line-height: 120%;
}

}

.content-2 {
    
.conect-block {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    margin-top: 5%;
}

.conect-block img {
    width: 470px;
    height: 475px;
    flex-shrink: 0;
}

.conect-analitic img {
    width: 251px;
    height: 360px;
    object-fit: cover;

}

.conect-analitic {
    position: absolute;
    top: 50%;
    left: 70%;
}

.conect-text {
    margin-right: 72px;
}


.conect-text h4 {
    color: #1F1F1F;
    font-size: 36px;
    font-family: $secondary-font;
    line-height: 150%;
    letter-spacing: 1.152px;
    font-weight: 400;
    padding-top: 136px;
}

.button-image img {
    width: 24px;
    height: 24px;
}

.button-item {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
    padding: 16px 32px;
    color: #1F1F1F;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 600;
    line-height: 120%;
    text-decoration: none;
    margin-top: 32px;
    width: 70%;
}

.button-image {
    padding-right: 16px;
}

.button-item:hover {
    background: #1A2B3B;
    color: #fff;
    transition: 1s ease;
}

}

/*adaptive*/

@media (max-width:992px) {


    
    .content-1 {

        .conect-block {
            display: block;
            text-align: center;
        }
    
        .conect-analitic {
            top: 20%;
            left: 44%;
        }

        .conect-text {
            margin-left: 0;
        }

        .conect-text h4{
            font-size: 30px;
        } 

        .click-item p {
            font-size: 17px;
        }

        .click-img img {
            width: 30px;
            height: 30px;
        }

        .conect-button-hov {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
    }

    .content-2 {

        .conect-block {
            display: block;
            text-align: center;
        }
    
        .conect-analitic {
            top: 20%;
            left: 44%;
        }

        .conect-text {
            margin-right: 0;
        }

        .conect-text h4{
            font-size: 30px;
        } 

        .click-item p {
            font-size: 17px;
        }

        .click-img img {
            width: 30px;
            height: 30px;
        }

        .conect-button-hov {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}

@media (max-width:576px) {

    .content-1 {

       .conect-block img {
            width: 100%;
            height: 100%;
        } 

        .conect-text h4 {
            font-size: 20px;
        }
    }

    .content-2 {
        .conect-block img {
            width: 100%;
            height: 100%;
        } 

        .conect-text h4 {
            font-size: 20px;
        }

        .button-item {
            width: 90%;
        }
    }
        
}

@media (max-width:320px) {

    .content-1 {

        .conect-text h4 {
            font-size: 15px;
        }

        .click-item p {
            font-size: 12px;
        } 
    }
    
    .content-2 {
        .conect-text h4 {
            font-size: 15px;
        }

        .click-item p {
            font-size: 12px;
        } 

        .button-item {
            font-size: 10px;
            width: 100%;
        }
    }

}
