/*footer*/

footer {
    padding: 50px 0;
    background: $secondary-color;
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-item p {
    color: $primary-color;
    font-size: 16px;
    font-family: $tertiary-font;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.512px;
    padding-left: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.footer-contact p {
    color: $primary-color;
    font-size: 16px;
    font-family: $tertiary-font;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 18px;
}

.contact {
    padding-bottom: 9px;
}

.contact a {
    text-decoration: none;
    color: $primary-color;
    font-size: 14px;
    font-family: $tertiary-font;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.partials li {
    list-style: none;
    padding-bottom: 10px;
}

.partials li a {
    color: $primary-color;
    font-size: 16px;
    font-family: $tertiary-font;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

hr {
    border: 1px solid $primary-color;
    opacity: 0.05999999865889549;
    background: $primary-color;
    margin-top: 25px;
    margin-bottom: 34px;
}

.copyright-item {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright small {
    color: $primary-color;
    font-size: 16px;
    font-family: $tertiary-font;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.copyright-item p {
    padding-right: 26px;
    color: $primary-color;
    font-size: 16px;
    font-family: $tertiary-font;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*adaptive*/

@media (max-width:768px) {

    .footer-content {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-itm,.footer-contact,.partials {
        padding-bottom: 30px;
    }
}