/*home*/

.home {
    padding: 80px 0;

    .btn {
        border-radius: 4px;
        border: 1px solid $five-quarter;
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
        padding: 8px 16px;
        text-decoration: none;
        color: $five-quarter;
        font-size: 16px;
        font-family: $tertiary-font;
        line-height: 24px;

        &:hover {
            transition: 0.2s;
            background: $five-quarter;
            color: $primary-color;
        }
    }

    h1 {
        text-align: center;
        color: $secondary-color;
        font-size: 46px;
        font-family: $tertiary-font;
        font-weight: 700;
        letter-spacing: 4.6px;
        margin-bottom: 18px;
    }

    p {
        text-align: center;
        color: $secondary-color;
        font-size: 16px;
        font-family: $tertiary-font;
        font-weight: 300;
        letter-spacing: 0.288px;
    }

    .button {
        margin-top: 41px;
        text-align: center;
    }  
}

/*adaptive*/

@media (max-width:992px) {

    .home {
        h1 {
            font-size: 35px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media (max-width:576px) {

    .home {
        h1 {
            font-size: 27px;
        }

        p {
            font-size: 12px;
        }
    }
}

@media (max-width:320px) {

    .home {
        h1 {
            font-size: 18px;
        }

        p {
            font-size: 10px;
        }
    }
}
