/*offer*/

.offer {
    padding: 80px 0;

    .content {
        display: flex;
        align-items: center;
    }

    .text {
        span {
            color: $tertiary-color;
            text-align: center;
            font-size: 16px;
            font-family: $secondary-font;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
    }

    .title {
        color: $tertiary-color;
        font-size: 36px;
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }

    .subtitle {
        color: $tertiary-color;
        font-size: 16px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        padding-bottom: 36px;
    }

    .global-image {
        padding: 0px 40px;
        width: 100%;
    }

    .item {
        display: flex;
        align-items: center;
        padding-bottom: 12px;

        p {
            padding-left: 16px;
            color: $quaternary-color;
            font-size: 16px;
            font-family: $secondary-font;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
        }
    }
}


/*adaptive*/

@media (max-width:992px) {

    .offer {
        .content {
            display: block;
        }

        .title {
            font-size: 30px;
        }

        .subtitle {
            font-size: 14px;
        }

        .text {
            padding-bottom: 30px;
        }
    }
}

@media (max-width:320px) {

    .offer {
        .title {
            font-size: 25px;
        }

        .subtitle {
            font-size: 12px;
        }
    }
}