$primary-font: "Open Sans", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$tertiary-font: "Source Sans 3", sans-serif;
$primary-color: #fff;
$secondary-color: #1A2B3B;
$tertiary-color: #1F1F1F;
$quaternary-color: #0A2640;
$five-quarter: #76cdd8;
$six-quarter: #C9DB48;
