@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap");

:root {
    --font1: "Open Sans", sans-serif;
    --font2: "Montserrat", sans-serif;
    /* --font3: "Source Sans 3", sans-serif;*/
}

@font-face {
    font-family: "Source-Regular";
    src: url(../public/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Source-Semibold";
    src: url(../public/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: "Source-Bold";
    src: url(../public/fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: "Source-Light";
    src: url(../public/fonts/SourceSansPro-Light.ttf);
}