@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 10px;
}

body {
  background: linear-gradient(#F8FCFF, #F8FBFF);
}

:root {
  --font1: "Open Sans", sans-serif;
  --font2: "Montserrat", sans-serif;
  --font3: "Source Sans 3", sans-serif;
}

/*header*/

header {
  padding: 17px 0px 0;
}



.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  position: relative;
  color: #1f1f1f;
  font-size: 14px;
  font-family: var(--font3);
  line-height: 22px;
}

nav ul li a:hover {
  color: #76cdd8;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #76cdd8;
  position: absolute;
  left: 0;
  bottom: -15px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/*home*/

.home {
  padding: 80px 0;
}

.btn-1 {
  border-radius: 4px;
  border: 1px solid #76CDD8;
  background: #76CDD8;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
  padding: 8px 16px;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-family: var(--font3);
  line-height: 24px;
}

.btn-2 {
  border-radius: 4px;
  border: 1px solid #76CDD8;
  padding: 8px 16px;
  color: #76CDD8;
  font-size: 16px;
  font-family: var(--font3);
  line-height: 24px;
  text-decoration: none;
}

.home h1 {
  text-align: center;
  color: #1A2B3B;
  font-size: 46px;
  font-family: var(--font3);
  font-weight: 700;
  letter-spacing: 4.6px;
  margin-bottom: 18px;
}

.home p {
  text-align: center;
  color: #1A2B3B;
  font-size: 16px;
  font-family: var(--font3);
  font-weight: 300;
  letter-spacing: 0.288px;
}

.button {
  margin-top: 41px;
  text-align: center;
}


/*connect*/

.connect {
  padding: 80px 0;
  background: #FFF;
}


.conect-block img {
  width: 470px;
  height: 475px;
  flex-shrink: 0;
}

.conect-analitic img {
  width: 251px;
  height: 360px;
  object-fit: cover;

}

.conect-block {
  position: relative;
  display: flex;
}

.conect-analitic {
  position: absolute;
  top: 40%;
  left: 15%;
}

.conect-text {
  margin-left: 72px;
}


.conect-text h4 {
  color: #1F1F1F;
  font-size: 36px;
  font-family: var(--font2);
  line-height: 150%;
  letter-spacing: 1.152px;
  font-weight: 400;
  padding-top: 136px;
}

.click {
  margin-top: 48px;
}


.click-item {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
}

.click-img img {
  width: 32px;
  height: 32px;
}

.click-item p {
  padding-left: 32px;
  color: #1F1F1F;
  font-size: 20px;
  font-family: var(--font1);
  line-height: 120%;
}


.conect-block-1 {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  margin-top: 5%;
}

.conect-block-1 img {
  width: 470px;
  height: 475px;
  flex-shrink: 0;
}

.conect-analitic-1 img {
  width: 251px;
  height: 360px;
  object-fit: cover;

}

.conect-analitic-1 {
  position: absolute;
  top: 50%;
  left: 70%;
}

.conect-text-1 {
  margin-right: 72px;
}


.conect-text-1 h4 {
  color: #1F1F1F;
  font-size: 36px;
  font-family: var(--font2);
  line-height: 150%;
  letter-spacing: 1.152px;
  font-weight: 400;
  padding-top: 136px;
}

.button-image img {
  width: 24px;
  height: 24px;
}

.button-item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 32px;
  color: #1F1F1F;
  font-size: 16px;
  font-family: var(--font1);
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
  margin-top: 32px;
  width: 70%;
}

.button-image {
  padding-right: 16px;
}

.button-item:hover {
  background: #1A2B3B;
  color: #fff;
  transition: 1s ease;
}

/*methodical*/


.methodical {
  padding: 80px 0;
  background: #FFF;
}

.methodical-title {
  color: #1F1F1F;
  font-size: 32px;
  font-family: var(--font3);
  font-weight: 600;
  letter-spacing: 3.2px;
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}

.card-item {
  margin-right: 17px;
  border-radius: 0px 0px 6px 6px;
}

.card-item:hover {
  box-shadow: 0px 2px 0px 0px #76CDD8, 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
}

.card-item img {
  width: 375px;
}

.padding {
  padding: 18px 16px 16px 16px;
}

.padding h3 {
  padding-bottom: 12px;
  color: #1F1F1F;
  font-size: 18px;
  font-family: var(--font3);
}

.padding p {
  color: #1F1F1F;
  font-size: 12px;
  font-family: var(--font3);
  font-weight: 300;
}

/*about*/

.about {
  background: #1A2B3B;
}

.about-content {
  display: flex;
}

.about_text {
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding-right: 58px;
}

.about_title {
  color: #FFF;
  font-size: 32px;
  font-family: var(--font3);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.2px;
  padding-bottom: 24px;
}

.about-link {
  color: #FFF;
  font-size: 14px;
  font-family: var(--font3);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.224px;
  padding-bottom: 12px;
}

.about_image img {
  height: 435px;
}



/*offer*/

.offer {
  padding: 80px 0;
}

.offer-content {
  display: flex;
  align-items: center;
}

.offer-text span {
  color: #1F1F1F;
  text-align: center;
  font-size: 16px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.offer-title {
  color: #1F1F1F;
  font-size: 36px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  width: 592px;
}

.offer-subtitle {
  color: #1F1F1F;
  font-size: 16px;
  font-family: var(--font1);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 592px;
  padding-bottom: 36px;
}


.offer-image {
  display: flex;
  height: 358px;
  padding: 0px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.offer-image img {
  flex: 1 0 0;
  align-self: stretch;
}

.offer-check-item {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.offer-check-item p {
  padding-left: 16px;
  color: #0A2640;
  font-size: 16px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/*video*/

.video {
  background: rgba(10, 38, 64, 0.04);
  padding: 72px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.video-content {
  display: flex;
  height: 500px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: #fff;
}

.video-image {
  position: relative;
}

.btn-play {
  display: flex;
  width: 76px;
  height: 76px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 38px;
  background: rgba(201, 219, 72, 0.30);
  position: absolute;
  left: 252px;
  top: 196px;
  cursor: pointer;
}


.btn-play-2 {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #C9DB48;
}

.video-text {
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 72px;
  flex: 1 0 0;
  align-self: stretch;
}




.video-item {
  display: flex;
  align-items: center;
}

.video-item-img {
  padding: 10px;
  border-radius: 4px;
  background: rgba(201, 219, 72, 0.04);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.06);
}

.vid-txt {
  padding-left: 12px;
}

.vid-txt h3 {
  color: #1F1F1F;
  font-size: 24px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  padding-bottom: 12px;
}

.vid-txt p {
  color: #1F1F1F;
  font-size: 14px;
  font-family: var(--font1);
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.448px;
}

/*analitic*/

.analitic {
  padding: 80px 0;
  background-image: './public/images/Rectangle-6.png';
  background-repeat: no-repeat;
  background-size: cover;
}

.analitic-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.analitic-item {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.analitic-text span {
  color: #FFF;
  font-size: 28px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
}

.analitic-text p {
  color: #FFF;
  font-size: 18px;
  font-family: var(--font2);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/*btn scroll*/

.button-home {
  position: fixed;
  cursor: pointer;
  right: 40px;
  top: 85%;
  display: none;
}

.button-home--show {
  display: block;
}

.home-item {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  background: #fff;
  border-radius: 100%;
  font-size: 20px;
  padding: 10px 25px;
}

.home-item:hover {
  background: #ff004f;
  color: #fff;
}


nav .fas {
  display: none;
}
