<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>finalproject</title>
</head>

<body>
  {{> ../partials/header}}
  {{> ../partials/home}}
  {{> ../partials/connect}}
  {{> ../partials/methodical}}
  {{> ../partials/about}}
  {{> ../partials/offer}}
  <div class="button-home">
    <a href="#header" class="home-item">↑</a>
  </div>

  <script src="https://kit.fontawesome.com/a83a3a8eca.js" crossorigin="anonymous"></script>
  <script src="./public/js/custom.js"></script>
</body>
</html>
