<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>finalproject</title>
</head>

<body>
  {{> ../partials/layouts/header}}
  {{> ../partials/sections/home}}
  {{> ../partials/sections/connect}}
  {{> ../partials/sections/methodical}}
  {{> ../partials/sections/about}}
  {{> ../partials/sections/offer}}
  {{> ../partials/sections/video}}
  {{> ../partials/sections/analytic}}
  {{> ../partials/sections/sample}}
  {{> ../partials/sections/promotion}}
  {{> ../partials/layouts/footer}}
  {{> ../partials/components/button-scroll}}

  <script src="https://kit.fontawesome.com/a83a3a8eca.js" crossorigin="anonymous"></script>
  <script src="./public/js/custom.js"></script>
</body>
</html>
