<section class="analitic">
    <div class="container">
        <div class="analitic-content">

            <div class="analitic-item">
                <img src="./public/images/ChartLineUp.svg" alt="demo">
                <div class="analitic-text">
                    <span>97%</span>
                    <p>Qamrab olinganlik</p>
                </div>
            </div>
            <div class="analitic-item">
                <img src="./public/images/Student.svg" alt="demo">
                <div class="analitic-text">
                    <span>286</span>
                    <p>Dars ishlanma</p>
                </div>
            </div>
            <div class="analitic-item">
                <img src="./public/images/YoutubeLogo.svg" alt="demo">
                <div class="analitic-text">
                    <span>369</span>
                    <p>Videodars</p>
                </div>
            </div>
            <div class="analitic-item">
                <img src="./public/images/file-text.svg" alt="demo">
                <div class="analitic-text">
                    <span>365</span>
                    <p>Metodik qo'llanma</p>
                </div>
            </div>

        </div>
    </div>
</section>