<section class="home" id="main">
    <div class="container">
        <h1>Promotion platform</h1>
        <p>Republican Education Center under the Ministry of Public Education
            The single platform serves to popularize the advanced work and experience of pedagogues
        </p>
        <div class="button">
            <a class="btn-1" href="#">Sign up</a>
            <a class="btn-1" href="#">Log in</a>
        </div>
    </div>
</section>