<section class="video">
    <div class="container">
        <div class="video-content">
            <div class="video-image">
                <img src="./public/images/video.png" alt="demo">
                <div class="btn-play">
                    <div class="btn-play-2">
                        <img src="./public/images/Icons-play.svg" alt="demo">
                    </div>
                </div>
            </div>
            <div class="video-text">
                <div class="video-item">
                    <div class="video-item-img">
                        <img src="./public/images/Icons-watch.svg" alt="demo">
                    </div>
                    <div class="vid-txt">
                        <h3>Lorem Ipsum</h3>
                        <p>
                            Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati
                            cupiditate non provident
                        </p>
                    </div>

                </div>
                <div class="video-item">
                    <div class="video-item-img">
                        <img src="./public/images/Icons-slack.svg" alt="demo">
                    </div>
                    <div class="vid-txt">
                        <h3>Nemo Enim</h3>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>